
.icon-home:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */