
.icon-home:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */