*{
    font-family: 'Lato', sans-serif;
}
.boxed{
    border: 1px solid black;
}

.box_shadow{
    box-shadow: 10px 0 8px black;
}

body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nawigacja{
    background-color: #fff;
    font-size: 18px;
}

.nav-item{
    margin: 0 15px;
    padding: 3px 0;
}

.content-logo{
    text-align: center;
}

.content{
    background-color: #fff;
    display: flex;
    margin-top: 60px;
    text-align: center;
    padding: 20px 0;
}

.content-logo > h1{
    color: white;
}

.content-header > h1{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.content-prezentacja-body{
    margin-top: 20px;
}

.content-prezentacja-body > .row > .col-md-4 > .card > .card-header{
    background-color: #ffa424;
    font-size: 16px;
}
.content-prezentacja-body > .row > .col-md-4 > .card > .card-body{
    background-color: #ffe6c4;
    box-sizing: border-box;
    padding: 8px;
    text-align: left;
}

.links{
    margin-top: 25px;
}

.links > a{
    margin: 0 auto;
    text-decoration: none;
    color: #3d3d3d;
}

.links > a > i{
    width: 80px;
    height: 80px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    transition: background-color 0.3s, font-size 0.3s;
}

.links > a > p{
    color: #3d3d3d;
    font-size: 16px;
    margin-top: 5px;
}

.links > a > i:hover{
    background-color: #ffa424;
    font-size: 45px;
    transition: background-color 0.3s, font-size 0.3s;
}

.przerywnik{
    height: 400px;
}

.update-item{
    text-align: left;
    margin-bottom: 50px;
}

.update-item-title{
    color: #ffa424;
    text-transform: uppercase;
}

.update-item-date, .update-item-body{
    font-size: 16px;
}

.update-item-body{
    margin-top: 20px;
}

.footer{
    display: flex;
    background-color: #ffa424;
    justify-content: center;
    margin: 0;
}

.coins, .vip, .svip{
    margin: 20px 0;
}

.coins > .card-header{
    background: #e6d132;
}

.vip > .card-header{
    background: #e6b032;
}

.svip > .card-header{
    background: #e68c32;
}

.card-footer > .btn{
    background-color: #4bcf2d;
    color: white;
    font-size: 16px;
}

.card-footer > .btn:hover{
    background-color: white;
    color: #4bcf2d;
    border: 1px solid #4bcf2d;
}

.admin-item{
    width: 25%;
    display: inline-block;
    margin: 0 auto;
}

.admin-item > img{
    margin: 20px 0;
}
