*{
    font-family: 'Lato', sans-serif;
}
.boxed{
    border: 1px solid black;
}

.container-fluid{
    background-color: #fff79c;
}

.logo{
    padding: 20px 0;
}

.nav-item{
    padding: 0 15px;
}

.nav-item>.nav-link{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-item>.nav-link:hover{
    background-color: RGBA(0,0,0,0);
}
